<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-touch-icon.png?v=QEM9bdvgr9">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/ico/favicon-32x32.png?v=QEM9bdvgr9">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/ico/favicon-16x16.png?v=QEM9bdvgr9">
<link rel="manifest" href="/assets/ico/manifest.json?v=QEM9bdvgr9">
<link rel="mask-icon" href="/assets/ico/safari-pinned-tab.svg?v=QEM9bdvgr9" color="#5bbad5">
<link rel="shortcut icon" href="/assets/ico/favicon.ico?v=QEM9bdvgr9">
<meta name="msapplication-config" content="/assets/ico/browserconfig.xml?v=QEM9bdvgr9">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->