@font-face {
  font-family: "Pacific Again";
  src: url("/assets/fonts/Pacific\ Again.ttf");
}

.page__content {
  /* multilang @torggler */
   .multilang {
     color: mix(#fff, $gray, 25%);
     font-size: $type-size-6;
   }
 
   .dropcap {
     font-family: 'Times New Roman', Times, serif;
   }

   p, li, dl {
    font-size: 1em;
    /* @torggler: justify text */
    text-align: justify;
    text-justify: inter-word;
  }

  a {
    text-decoration: none;
  }

 }

.archive {
  .list__item {
    a {
      text-decoration: none;
    }
  }
}




/* Landing
  ============================================================================ 
  update footer for landing pages

*/


.landing {
  .page__title {
    font-family: "Pacific Again";
    font-weight: lighter;
    font-style: normal;
    margin: 0.25em 1 2em; 
    font-size: 7em;
    color: white;
  }
  .page__footer {
    background-color: #fff;
    border-top: 0px;
    margin-top: 0em; 
  }
}

/**

wilde ones
sweet hand write
generation

**/